.projects-container {
    margin: 20px auto;
    padding: 30px 10px;
    /* background-color: #dde1e5; */
}

.projects-container .section {
    margin-top: 30px;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    /* height: 300px; */
    box-shadow: inset 0 0 10px gray;
    /* box-shadow: inset -3px -3px 7px #fff,
        inset 3px 3px 5px rgba(94, 104, 121, 0.712); */
        /* border-radius: 20px;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712); */
    /* padding: 20px 30px; */
    /* padding-right: 0; */
    /* border: 2px solid gray; */
}

.projects::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.projects {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.projects > .project-container {
    position: relative;

    width: 100%;
    height: 250px;
    flex-shrink: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    /* border: 2px solid darkblue; */
}

.project-container.start {
    /* left: 50%; */
    animation: movein 1s ease-in;
}

.project-container.end {
    animation: moveout 1s ease-out;
}

@keyframes movein {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes moveout {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

.project-container:nth-child(1) {
    display: flex;
}

.project-container > .project {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    width: 90%;
    /* height: 200px; */
    margin: 20px 5%;
    cursor: pointer;
    padding: 20px 30px;
    /* border: 2px solid lightgreen; */
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px gray;
}

.project-container > .project > img {
    width: 30%;
}

.project-container > .project > div {
    width: 70%;
}

.project .project-title,
.project .project-description {
    padding: 10px 20px;
}

.projects .prev,
.projects .next {
    color: #000;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.projects .next {
    right: 0;
}
