.contact-container {
    margin: 20px auto;
    padding: 30px 5%;
    box-shadow: 0 0 10px grey;
}

.contact-form .contact-item {
    margin: 15px 0;
}

input, textarea {
    width: 40%;
    font-size: 20px;
    padding: 8px 10px;
    border: 2px solid darkcyan;
    border-radius: 10px;
    outline: none;
}